<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org.wiki/xacro">


    <!-- <gazebo>
    <plugin
        filename="gz-sim-joint-state-publisher-system"
        name="gz::sim::systems::JointStatePublisher">
        <joint_name>wheel_front_joint</joint_name>
        <joint_name>wheel_left_joint</joint_name>
        <joint_name>wheel_right_joint</joint_name>
    </plugin>
    </gazebo> -->

    <!-- <gazebo>
        <plugin name="gz::sim::systems::PosePublisher"
            filename="gz-sim-pose-publisher-system">
            
            <update_frequency>10</update_frequency> 
            
            <publish_model_pose>true</publish_model_pose>
            <publish_link_pose>false</publish_link_pose>
            <publish_visual_pose>false</publish_visual_pose>
            <publish_sensor_pose>false</publish_sensor_pose>
            <publish_collision_pose>false</publish_collision_pose>
            <use_pose_vector_msg>false</use_pose_vector_msg> 
        </plugin>
    </gazebo> -->

    <!-- <gazebo>
    <plugin
      filename="libgz_ros_p3d.so"
      name="gz::sim::systems::RosP3D">
      
      <link_name>base_footprint</link_name> 

      <ros>
        <output>/pose</output>
      </ros>

    </plugin>
  </gazebo> -->
</robot>